.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: auto auto auto 1fr;
  gap: 10px;
  overflow: hidden;
}

.header-grid__div {
  grid-column-start: 1;
  grid-column-end: 3;
}

.messages-grid__div {
  padding-right: 40px;
  grid-column-start: 2;
}

.button-grid__div {
  grid-column-start: 2;
  display: flex;
  justify-content: end;
  padding-right: 40px;
}

.categories-grid__div {
  grid-row-start: 4;
  grid-row-end: 5;
  padding-left: 10px;
  padding-bottom: 30px;
}

.blogposts-grid__div {
  overflow-y: scroll;
  padding-right: 40px;
}

.blogposts-grid__div::-webkit-scrollbar {
  display: none;
}

@media (max-width: 950px) {
  .App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
  }
  .button-grid__div,
  .blogposts-grid__div,
  .messages-grid__div,
  .categories-grid__div {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0;
  }
  .blogposts-grid__div {
    padding-top: 10px;
  }
}
